# csv

In [1]:
import numpy as np
import pandas as pd

In [2]:
excel_file = '/Users/li/Desktop/ratedata/questionnaire.xlsx'
data = pd.read_excel(excel_file)
print(data.columns)
data.head()

Index(['sub', 'sex', 'age', 'nfa1', 'nfa2', 'nfa3', 'nfa4', 'nfa5', 'nfa6',
       'nfa7', 'nfa8', 'nfa9', 'nfa10', 'nfc1', 'nfc2', 'nfc3', 'nfc4', 'nfc5',
       'nfc6', 'iri1', 'iri2', 'iri3', 'iri4', 'iri5', 'iri6', 'iri7', 'iri8',
       'iri9', 'iri10', 'iri11', 'iri12', 'iri13', 'iri14', 'iri15', 'iri16',
       'iri17', 'iri18', 'iri19', 'iri20', 'iri21', 'iri22', 'iri23', 'iri24',
       'iri25', 'iri26', 'iri27', 'iri28', 'iou1', 'iou2', 'iou3', 'iou4',
       'iou5', 'iou6', 'iou7', 'iou8', 'iou9', 'iou10', 'iou11', 'iou12',
       'know1', 'know2', 'know3', 'know4', 'know5', 'know6', 'know7', 'know8',
       'like1', 'like2', 'like3', 'like4', 'like5', 'like6', 'like7', 'like8',
       'attd1', 'attd2', 'attd3', 'attd4', 'attd5', 'attd6', 'attd7', 'attd8',
       'attd9', 'attd10'],
      dtype='object')

,sub,sex,age,nfa1,nfa2,nfa3,nfa4,nfa5,nfa6,nfa7,...,attd1,attd2,attd3,attd4,attd5,attd6,attd7,attd8,attd9,attd10
0,1,0.0,22.0,2,6,6,5,6,5,3,...,6,6,3,5,7,5,4,6,2,6
1,2,0.0,19.0,1,6,4,3,7,2,1,...,6,3,3,4,5,3,3,5,3,5
2,3,0.0,20.0,2,3,5,3,6,5,5,...,3,3,3,4,4,6,5,4,3,5
3,4,0.0,19.0,1,1,7,6,6,7,3,...,6,6,5,6,1,7,5,2,5,2
4,5,0.0,24.0,3,2,5,6,6,6,4,...,6,5,5,4,2,5,6,2,2,4

In [8]:
# AP = Approach Subscale, AV = Avoidance Subscale
# To build an aggregate score of the Need for Affect, avoidance items must be reverse scored.
NFA_AV = ['nfa1', 'nfa4', 'nfa6', 'nfa7', 'nfa10']
NFA_AP = ['nfa2', 'nfa3', 'nfa5', 'nfa8', 'nfa9']

# 'nfc3', 'nfc4' is reverse coded items.
NFC = ['nfc1', 'nfc2', 'nfc3', 'nfc4', 'nfc5', 'nfc6']

# 'iri2', 'iri5', 'iri10', 'iri11', 'iri14' is reverse coded items.
IRI_PT = ['iri6','iri9', 'iri15', 'iri19', 'iri22']
IRI_FS = ['iri3', 'iri5', 'iri10', 'iri12', 'iri17', 'iri20']
IRI_EC = ['iri1', 'iri2', 'iri7', 'iri11', 'iri14', 'iri16']
IRI_PD = ['iri4', 'iri8', 'iri13', 'iri18', 'iri21']

# PA = Prospective Anxiety, IA = Inhibitory Anxiety, 
IUS_PA = ['iou1', 'iou2', 'iou3', 'iou4', 'iou5', 'iou6', 'iou7']
IUS_IA = ['iou8', 'iou9', 'iou10', 'iou11', 'iou12']

#
know = ['know1', 'know2', 'know3', 'know4', 'know5', 'know6', 'know7', 'know8']
like = ['like1', 'like2', 'like3', 'like4', 'like5', 'like6', 'like7', 'like8']
post_attitude = ['attd1', 'attd2', 'attd3', 'attd4', 'attd5', 'attd6', 'attd7', 'attd8', 'attd9', 'attd10']

# reverse items
reverse_items = ['nfa1', 'nfa4', 'nfa6', 'nfa7', 'nfa10', 
                'nfc3', 'nfc4',
                'iri2', 'iri5', 'iri10', 'iri11', 'iri14']

In [27]:
for item in ['nfa1', 'nfa4', 'nfa6', 'nfa7', 'nfa10']:
    data[item] = 8 - data[item]
for item in ['nfc3', 'nfc4']:
    data[item] = 6 - data[item]
for item in ['iri2', 'iri5', 'iri10', 'iri11', 'iri14']:
    data[item] = 4 - data[item]

In [51]:

first_factors = {
    
    # 'sub': ['sub'],
    # 'sex': ['sex'],
    # 'age': ['age'],
    
    'NFA_AV': ['nfa1', 'nfa4', 'nfa6', 'nfa7', 'nfa10'],
    'NFA_AP': ['nfa2', 'nfa3', 'nfa5', 'nfa8', 'nfa9'],

    'NFC': ['nfc1', 'nfc2', 'nfc3', 'nfc4', 'nfc5', 'nfc6'],

    'IRI_PT': ['iri6','iri9', 'iri15', 'iri19', 'iri22'],
    'IRI_FS': ['iri3', 'iri5', 'iri10', 'iri12', 'iri17', 'iri20'],
    'IRI_EC': ['iri1', 'iri2', 'iri7', 'iri11', 'iri14', 'iri16'],
    'IRI_PD': ['iri4', 'iri8', 'iri13', 'iri18', 'iri21'],

    'IUS_PA': ['iou1', 'iou2', 'iou3', 'iou4', 'iou5', 'iou6', 'iou7'],
    'IUS_IA': ['iou8', 'iou9', 'iou10', 'iou11', 'iou12']
}

first_averages = pd.DataFrame()
for dimension, columns in first_factors.items():
    dimension_data = data[columns]
    first_averages[dimension] = dimension_data.sum(axis=1)
    
second_factors = {
    'NFA': first_factors['NFA_AV'] + first_factors['NFA_AP'],
    'IRI': first_factors['IRI_PT'] + first_factors['IRI_FS'] + first_factors['IRI_EC'] + first_factors['IRI_PD'],
    'IUS': first_factors['IUS_PA'] + first_factors['IUS_IA']
}

second_averages = pd.DataFrame()

for dimension, columns in second_factors.items():
    dimension_data = data[columns]
    second_averages[dimension] = dimension_data.sum(axis=1)

# 加上名字
second_averages= pd.concat([data[['sub', 'sex', 'age']], second_averages, first_averages], axis=1)
second_averages.to_excel('/Users/li/Desktop/ratedata/personality.xlsx', index = False)
second_averages.head()

,sub,sex,age,NFA,IRI,IUS,NFA_AV,NFA_AP,NFC,IRI_PT,IRI_FS,IRI_EC,IRI_PD,IUS_PA,IUS_IA
0,1,0.0,22.0,52,48,32,23,29,14,12,12,11,13,22,10
1,2,0.0,19.0,57,44,28,30,27,17,10,8,12,14,19,9
2,3,0.0,20.0,47,55,38,22,25,13,19,9,14,13,25,13
3,4,0.0,19.0,47,39,33,21,26,20,9,8,12,10,20,13
4,5,0.0,24.0,41,44,43,16,25,18,14,12,9,9,26,17