In [2]:
import numpy as np
import pandas as pd

csv_file = '/Users/li/Desktop/task-persuade/behavdata/questionnaire.csv'
data = pd.read_csv(csv_file)
print(data.columns)
data.head()
# sub 1-35
# sex 男0女1
# a1-a10 情感需求
# b1-b6 认知需求
# c1-c28 人际指数
# d1-d12 不确定性
# e1-e60 大五人格
# f1-f12 社会影响易感性

Index(['sub', 'sex', 'age', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7',
       ...
       'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12'],
      dtype='object', length=131)

,sub,sex,age,a1,a2,a3,a4,a5,a6,a7,...,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12
0,1,1,19,3,6,6,4,5,5,3,...,4,6,6,6,7,7,6,5,6,5
1,2,1,20,2,1,7,2,7,4,2,...,6,2,4,1,7,7,6,4,4,7
2,3,1,23,2,3,7,3,7,5,3,...,5,4,6,5,7,7,7,4,5,7
3,4,0,25,3,3,7,5,6,2,6,...,3,4,3,3,7,7,6,6,5,5
4,5,1,29,1,3,6,3,7,5,4,...,6,5,5,5,6,6,6,6,6,6

In [4]:
# AP = Approach Subscale, AV = Avoidance Subscale
# To build an aggregate score of the Need for Affect, avoidance items must be reverse scored.
NFA_AV = ['a1', 'a4', 'a6', 'a7', 'a10']
NFA_AP = ['a2', 'a3', 'a5', 'a8', 'a9']

# 'nfc3', 'nfc4' is reverse coded items.
NFC = ['b1', 'b2', 'b3', 'b4', 'b5', 'b6']

# 'c2', 'c5', 'c10', 'c11', 'c14' is reverse coded items.
IRI_PT = ['c6','c9', 'c15', 'c19', 'c22']
IRI_FS = ['c3', 'c5', 'c10', 'c12', 'c17', 'c20']
IRI_EC = ['c1', 'c2', 'c7', 'c11', 'c14', 'c16']
IRI_PD = ['c4', 'c8', 'c13', 'c18', 'c21']

# PA = Prospective Anxiety, IA = Inhibitory Anxiety, 
IUS_PA = ['d1', 'd2', 'd3', 'd4', 'd5', 'd6', 'd7']
IUS_IA = ['d8', 'd9', 'd10', 'd11', 'd12']

Big5 = [f'e{x}' for x in range(1,61)]

SIS = ['f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12']

In [5]:

# reverse items
reverse_items = ['a1', 'a4', 'a6', 'a7', 'a10', 
                'b3', 'b4',
                'c2', 'c5', 'c10', 'c11', 'c14']

for item in ['a1', 'a4', 'a6', 'a7', 'a10']:
    data[item] = 8 - data[item]
for item in ['b3', 'b4']:
    data[item] = 6 - data[item]
for item in ['c2', 'c5', 'c10', 'c11', 'c14']:
    data[item] = 4 - data[item]

In [11]:

first_factors = {
    
    'NFA_AV': ['a1', 'a4', 'a6', 'a7', 'a10'],
    'NFA_AP': ['a2', 'a3', 'a5', 'a8', 'a9'],

    'NFC': ['b1', 'b2', 'b3', 'b4', 'b5', 'b6'],

    'IRI_PT': ['c6','c9', 'c15', 'c19', 'c22'],
    'IRI_FS': ['c3', 'c5', 'c10', 'c12', 'c17', 'c20'],
    'IRI_EC': ['c1', 'c2', 'c7', 'c11', 'c14', 'c16'],
    'IRI_PD': ['c4', 'c8', 'c13', 'c18', 'c21'],

    'IUS_PA': ['d1', 'd2', 'd3', 'd4', 'd5', 'd6', 'd7'],
    'IUS_IA': ['d8', 'd9', 'd10', 'd11', 'd12'],

    'SIS': ['f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12']
}

first_averages = pd.DataFrame()
for dimension, columns in first_factors.items():
    dimension_data = data[columns]
    first_averages[dimension] = dimension_data.sum(axis=1)
    
second_factors = {
    
    'NFA': first_factors['NFA_AV'] + first_factors['NFA_AP'],
    'NFC': first_factors['NFC'],
    'IRI': first_factors['IRI_PT'] + first_factors['IRI_FS'] + first_factors['IRI_EC'] + first_factors['IRI_PD'],
    'IUS': first_factors['IUS_PA'] + first_factors['IUS_IA'],
    'SIS': first_factors['SIS']
}

second_averages = pd.DataFrame()

for dimension, columns in second_factors.items():
    dimension_data = data[columns]
    second_averages[dimension] = dimension_data.sum(axis=1)

# 
second_averages= pd.concat([data[['sub', 'sex', 'age']], second_averages, first_averages], axis=1)
second_averages.to_csv('/Users/li/Desktop/task-persuade/behavdata/personality.csv', index = False)
second_averages.head()

,sub,sex,age,NFA,NFC,IRI,IUS,SIS,NFA_AV,NFA_AP,NFC,IRI_PT,IRI_FS,IRI_EC,IRI_PD,IUS_PA,IUS_IA,SIS
0,1,1,19,48,17,40,45,70,19,29,17,15,9,9,7,30,15,70
1,2,1,20,56,8,50,40,62,28,28,8,16,12,10,12,28,12,62
2,3,1,23,55,23,38,40,70,25,30,23,13,7,10,8,24,16,70
3,4,0,25,49,18,46,31,62,22,27,18,12,11,13,10,20,11,62
4,5,1,29,53,19,44,40,69,24,29,19,12,12,11,9,25,15,69